{% extends "MyAppUserBundle::index1.html.twig" %}
{% block formulaire %}<h1> Ajouter votre reclamation </h1>
<script>       </script>


<form Method="POST">

    <table border="1" align="center">


       <tr> <td>message:</td><td><Textarea name="msg"> </Textarea></td></tr>

       <tr><td><input type="submit" value="submit" name="submit" id="submit"></td></tr>
    </table>

</form>
{% endblock %}
